{% extends 'base.html' %}
{% block content %}

<!--<div id="myCarousel" class="carousel slide">-->
<!--    &lt;!&ndash; 轮播（Carousel）指标 &ndash;&gt;-->
<!--    <ol class="carousel-indicators">-->
<!--        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
<!--        <li data-target="#myCarousel" data-slide-to="1"></li>-->
<!--        <li data-target="#myCarousel" data-slide-to="2"></li>-->
<!--    </ol>-->
<!--    &lt;!&ndash; 轮播（Carousel）项目 &ndash;&gt;-->
<!--    <div class="carousel-inner">-->
<!--        <div class="item active">-->
<!--            <img src="/static/img/meinv.jpg" alt="First slide">-->
<!--        </div>-->
<!--        <div class="item">-->
<!--            <img src="/static/img/meinv.jpg" alt="Second slide">-->
<!--        </div>-->
<!--        <div class="item">-->
<!--            <img src="/static/img/meinv.jpg" alt="Third slide">-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; 轮播（Carousel）导航 &ndash;&gt;-->
<!--    <a class="carousel-control left" href="#myCarousel"-->
<!--       data-slide="prev"> <span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>-->
<!--    <a class="carousel-control right" href="#myCarousel"-->
<!--       data-slide="next">&rsaquo;</a>-->
<!--</div>-->

<h6>{{current_user.username}},欢迎回来</h6>

{% for u in users %}
    <div >
        <h5 >
            {{u.username}}
            {% if not current_user.is_following(u) %}
            <a href="{{ url_for('follow',username=u.username) }}">关注</a>
            {% else %}
            <a href="{{ url_for('unfollow',username=u.username) }}">不再关注</a>
            {% endif %}
        </h5>

    </div><!-- /.blog-post -->
{% endfor %}

{% for post in posts.items %}
    <div class="blog-post">
        {% include '_post.html' %}
    </div><!-- /.blog-post -->
{% endfor %}

{% if posts.has_prev %}<a href="{{ url_for('index',page = posts.prev_num) }}"><< 上一页</a>{% endif %}
{% if posts.has_next %}<a href="{{ url_for('index',page = posts.next_num) }}">下一页 >></a>{% endif %}




{% endblock %}

